extends ../components/base/layout

block variables
  - const title = "Архив концертов - Академ Джаз Клуб"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "archive.html"
  -
    const breadcrumbs = [
      {
        text: "Главная",
        href: "index.html",
      },
      {
        text: "Архив концертов",
        href: "archive.html",
      },
    ]
  -
    const previousConcerts = [
      {
        cardTitle: "Трибьют Фрэнку Синатре (вокал, джаз)",
        description: "Хиты великого Синатры в&nbsp;безупречном исполнении.",
        dateText: "23 мар, чт 20:30",
        dateTime: "2023-03-23 20:30",
        image: "music-performer-1"
      },
    ]
  -
    const pagination = [
      {
        link: {href: "#"},
        icon: {name: "icon-arrow-left"},
        label: "Предыдущая страница",
        isPrev: true,
        isDisabled: true
      },
      {
        link: {text: "1", href: "#"},
        label: "Страница 1",
        isCurrent: true
      },
      {
        link: {text: "2", href: "#"},
        label: "Страница 2"
      },
      {
        link: {href: "#"},
        icon: {name: "icon-arrow-right"},
        label: "Следующая страница",
      }
    ]
  -
    const cards = [
      {
        cardTitle: "Трибьют Фрэнку Синатре (вокал, джаз)",
        description: "Хиты великого Синатры в&nbsp;безупречном исполнении.",
        dateText: "23 мар, чт 20:30",
        dateTime: "2023-03-23 20:30",
        image: "music-performer-1"
      },
    ]

block main
  main
    +page-content()
      +breadcrumbs(breadcrumbs)
      +page-section()
        +show-cards-section({
          text: 'Архив концертов',
          tag: 'h1',
        }, previousConcerts, pagination)
      +page-section().page-section--bg-gray.soon-on-stage
        +show-cards-section({
          text: "Скоро на сцене",
          }, cards)
  div.loader-wrapper
    span.loader
  script(src="js/servermain.min.js" defer)
  script(src="js/archive.min.js" defer)

block modals
  +modal("modal--search")(data-modal="search")
    +modal-search()
