extends ../components/base/layout

block variables
  - const title = "Партнеры - Академ Джаз Клуб"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "partners.html"
  - const breadcrumbs = [{text: "Главная", href: "index.html"}, {text: "Партнеры", href: "partners.html"}];
  -
    const partners = [
      {
        text: "Генеральный информационный партнёр",
        path:"content/partners",
        image:"jazz_fm",
        format:"png",
        width:"207",
        height:"59",
        altText:"Партнер клуба джаз эфэм.",
        link: "https://radiojazzfm.ru/"
      },
      {
        text: "Ваш Досуг. Лучшие развлечения Москвы",
        path:"content/partners",
        image:"leisure",
        format:"png",
        width:"204",
        height:"89",
        altText:"Партнер клуба ваш досуг.",
        link: "https://www.vashdosug.ru/"
      },
      {
        text: "Time Out. Гид по&nbsp;Москве. Афиша Москвы",
        path:"content/partners",
        image:"time_out",
        format:"png",
        width:"176",
        height:"106",
        altText:"Партнер клуба таймаут. афиша Москвы.",
        link: "https://www.timeout.ru/msk"
      },
      {
        text: "Общенациональное издание. Еженедельная газета" ,
        path:"content/partners",
        image:"version",
        format:"png",
        width:"238",
        height:"52",
        altText:"Партнер клуба газета Версия.",
        link: "https://www.timeout.ru/msk"
      },
      {
        text: "Ресторан огород",
        path:"content/partners",
        image:"ogorod",
        format:"png",
        width:"158",
        height:"144",
        altText:"Партнер клуба Ресторан огород.",
        link: "https://www.restoclub.ru/msk/place/ogorod-2"
      },
    ]

  -
    const cards = [
      {
        cardTitle: "Трибьют Фрэнку Синатре (вокал, джаз)",
        description: "Хиты великого Синатры в&nbsp;безупречном исполнении.",
        dateText: "23 мар, чт 20:30",
        dateTime: "2023-03-23 20:30",
        image: "music-performer-1"
      },
      {
        cardTitle: "Даниил Крамер и&nbsp;братья Бриль (джаз)",
        description: "Джаз-стандарты на&nbsp;большой высоте!",
        dateText: "23 мар, чт 20:30",
        dateTime: "2023-03-23 20:30",
        image: "music-performer-2"
      },
      {
        cardTitle: "Константин Никольский (вокал, гитара, рок)",
        description: "&laquo;Мой друг&nbsp;- художник и&nbsp;поэт&raquo; и&nbsp;другие любимые песни!",
        dateText: "24 мар, пт 20:30",
        dateTime: "2023-03-24 20:30",
        image: "music-performer-3"
      },
      {
        cardTitle: "Валерий Киселев и&nbsp;Ансамбль классического джаза",
        description: "In&nbsp;the Mood of&nbsp;Swing. Хиты 1930&#8209;х годов в&nbsp;оригинальной аранжировке маэстро.",
        dateText: "24 мар, пт 20:30",
        dateTime: "2023-03-24 20:30",
        image: "music-performer-4"
      },
    ]

block main
  main
    +page-content()
      +breadcrumbs(breadcrumbs)
      +page-section()
        +partners-block(partners)
      +page-section().page-section--bg-gray.soon-on-stage
        +show-cards-section({
          text: "Скоро на сцене",
          }, cards)

  div.loader-wrapper
    span.loader
  script(src="js/servermain.min.js" defer)
  script(src="js/serverpartners.min.js" defer)


block modals
  +modal("modal--search")(data-modal="search")
    +modal-search()
