mixin artist-description()
  .show-description
    .container
      h2.visually-hidden Информация об исполнителе
      .text-content
        p #[a(href="#") Шоу Alex Abra&nbsp;&mdash; это аутентичная атмосфера высшего света Нью-Йорка середины 20 века, ощутить которую можно в&nbsp;Академ Джаз Клубе!]
        p Рождественская атмосфера Нью Йорка середины прошлого столетия в&nbsp;Москве? Это возможно? Да, и&nbsp;только на&nbsp;шоу Alex Abra!
        p Специально для этого концерта Алекс подобрал как самые известные рождественские песни из&nbsp;репертуара Фрэнка Синатры и&nbsp;его друзей (Let it&nbsp;Snow, Jingle Bells, Santa Claus is&nbsp;Coming To&nbsp;Town и&nbsp;другие), так и&nbsp;редкие композиции. Также на&nbsp;шоу прозвучит джазовая классика из&nbsp;репертуара Синатры&nbsp;&mdash; &laquo;New York, New York&raquo;, &laquo;Fly Me&nbsp;To&nbsp;The Moon&raquo;, &laquo;I’ve&nbsp;got you under my&nbsp;skin&raquo; и&nbsp;другие.
        p &laquo;Вишенкой на&nbsp;торте&raquo; будет много юмора, тесное взаимодействие с&nbsp;публикой и&nbsp;даже элементы настоящей американской чечетки.
        p Alex Abra&nbsp;&mdash; джазовый певец, джазмен, полюбившейся публике благодаря романтической манере исполнения и&nbsp;способности петь &laquo;только для тебя&raquo;. Участник проекта Александра Градского &laquo;анти-ГОЛОС&raquo;, победитель международного фестиваля Усадьба Джаз.
        p Совершите романтическое путешествие в&nbsp;высшее общество Нью Йорка, где царили элегантность и&nbsp;джаз, на&nbsp;сцене правил Фрэнк Синатра, а&nbsp;по&nbsp;вечерам устраивались роскошные вечеринки!
