mixin artist-information()
  .info-block
    .container
      .page-title
        h1.title.title--h3 Alex Abra
        p Аутентичная атмосфера высшего света Нью-Йорка середины 20 века
      .main-information
        .main-information__image
          +picture('content', 'artist-alex-abra', 'jpg', 400, 264, 'Фотография исполнителя')
