mixin gift-intro-banner()
  .gift-intro-banner
    .container
      .page-title
        h1.title Подарочные сертификаты
      .gift-intro-banner__wrapper
        .gift-intro-banner__note
          p Подарите друзьям и&nbsp;близким концерты в&nbsp;лучшем клубе Москвы
        +intro-banner()
          +picture("content", "intro-card", "jpg", "1280", "401", "Подарочный сертификат")
        .gift-intro-banner__button
          +btn({
              text: "Купить сертификат",
              href: "#",
              isExternal: true,
              }).btn--magenta-middle
          +btn({
              text: "Подарить билет",
              href: "#",
              isExternal: true,
              }).btn--magenta-middle
      .gift-intro-banner__text
        .text-content.text-content--margin-top
            p Вы&nbsp;можете обрадовать ваших друзей, родных или коллег по&nbsp;работе, подарив им&nbsp;не&nbsp;только билет на&nbsp;конкретный концерт в&nbsp;Академ Джаз Клубе в&nbsp;Москве, но&nbsp;и&nbsp;также можете сделать приятный сюрприз при помощи Подарочного сертификата нашего клуба.
            p Воспользоваться очень просто. Вы&nbsp;покупаете онлайн подарочный сертификат соответствующего номинала (например, за&nbsp;2000&nbsp;рублей, за&nbsp;3000 рублей или за&nbsp;5000&nbsp;рублей, или несколько сертификатов разного или одинакового номинала) и&nbsp;дарите нужному человеку или людям.
            p Счастливые обладатели подарочного сертификата Академ Джаз Клуба смогут обратиться непосредственно к&nbsp;нам и&nbsp;обменять его (или&nbsp;их) на&nbsp;билеты на&nbsp;какой-либо концерт в&nbsp;нашем клубе. Вы&nbsp;можете выбрать выступление легенд русского рока Константина Никольского, Владимира Кузьмина или Андрея Макаревича, интересную джазовую или блюзовую программу, авторскую музыку Павла Кашина и&nbsp;многое другое.
            p Входной подарочный сертификат с&nbsp;указанным номиналом дает право обменять его на&nbsp;билет на&nbsp;конкретный концерт в&nbsp;Академ Джаз Клубе на&nbsp;#[a(href="contacts.html") Проспекте Мира 26/1], с&nbsp;доплатой или без (в&nbsp;зависимости от&nbsp;стоимости свободных билетов на&nbsp;конкретный концерт) при наличии свободных мест на&nbsp;конкретную дату в&nbsp;соответствии с&nbsp;#[a(href="playbill.html") афишей клуба].
            p Мы&nbsp;будем рады видеть вас, ваших близких и&nbsp;друзей на&nbsp;концертам в&nbsp;Академ Джаз Клубе в&nbsp;Москве. Для вас только хорошая музыка!
            p Подарочный сертификат Академ Джаз Клуба можно купить непосредственно на&nbsp;нашем сайте или у&nbsp;билетных операторов Москвы.
        .banner-wrapper
          +banner({name: "icon-star", width: 46, height: 46})
              p Всю дополнительную информацию по&nbsp;использованию подарочного сертификата вы&nbsp;можете получить по&nbsp;телефонам Академ Джаз Клуба: #[a(href="tel:+74955324723") +7 (495) 532-47-23], #[a(href="tel:+79262589920") +7 (926) 258-99-20]
