mixin page-intro()
  .page-intro
    .container
      .page-intro__two-column
        h1.title.title--h1 АКАДЕМ Джаз клуб с&nbsp;живой музыкой на&nbsp;проспекте мира
        address.page-intro__address г.&nbsp;Москва, проспект Мира, 26/1
      .page-intro__image-wrapper
        +picture("content", "intro-musical-performance", "jpg", 1280, 520, "Живое выступление в Академ Джаз клуб.")
