mixin photos-content()
  .photos-content
    .container
      .page-title
        h1.title Фотоотчеты
      .photos-content__wrapper
        .page-title.page-title--closer
          h2.title.title--h3.title--pink #[time(datetime="2023-02-22") 22.02.2023], Группа Стаса Намина &laquo;Цветы&raquo;
        +slider({slides: [
              {path: "content/slider-photo/slider-1", image: "slider-photo-1", format: "jpg", width: "400", height: "264", altText: "Группа Стаса Намина Цветы."},
              {path: "content/slider-photo/slider-1", image: "slider-photo-2", format: "jpg", width: "400", height: "264", altText: "Группа Стаса Намина Цветы."},
              {path: "content/slider-photo/slider-1", image: "slider-photo-3", format: "jpg", width: "400", height: "264", altText: "Группа Стаса Намина Цветы."},
              {path: "content/slider-photo/slider-1", image: "slider-photo-1", format: "jpg", width: "400", height: "264", altText: "Группа Стаса Намина Цветы."},
              {path: "content/slider-photo/slider-1", image: "slider-photo-2", format: "jpg", width: "400", height: "264", altText: "Группа Стаса Намина Цветы."},
              {path: "content/slider-photo/slider-1", image: "slider-photo-3", format: "jpg", width: "400", height: "264", altText: "Группа Стаса Намина Цветы."},
            ]})
      .photos-content__wrapper
        .page-title.page-title--closer
          h2.title.title--h3.title--pink #[time(datetime="2023-02-22") 28.10.2022], Группа Стаса Намина &laquo;Цветы&raquo;
        +slider({slides: [
              {path: "content/slider-photo/slider-2", image: "slider-2-photo-1", format: "jpg", width: "400", height: "264", altText: "Группа Стаса Намина Цветы."},
              {path: "content/slider-photo/slider-2", image: "slider-2-photo-2", format: "jpg", width: "400", height: "264", altText: "Группа Стаса Намина Цветы."},
              {path: "content/slider-photo/slider-2", image: "slider-2-photo-3", format: "jpg", width: "400", height: "264", altText: "Группа Стаса Намина Цветы."},
              {path: "content/slider-photo/slider-2", image: "slider-2-photo-1", format: "jpg", width: "400", height: "264", altText: "Группа Стаса Намина Цветы."},
              {path: "content/slider-photo/slider-2", image: "slider-2-photo-2", format: "jpg", width: "400", height: "264", altText: "Группа Стаса Намина Цветы."},
              {path: "content/slider-photo/slider-2", image: "slider-2-photo-3", format: "jpg", width: "400", height: "264", altText: "Группа Стаса Намина Цветы."},
            ]})
