.brand-grid {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;

  @include vp-767 {
    grid-template-columns: repeat(2, 1fr);
  }

  &--4-columns {
    grid-template-columns: repeat(4, 1fr);

    @include vp-1023 {
      grid-template-columns: repeat(3, 1fr);
    }

    @include vp-767 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
