.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  @include vp-1279 {
    gap: 20px;
  }

  @include vp-1023 {
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;
  }

  @include vp-767 {
    grid-template-columns: repeat(2, 1fr);
    gap: 13px;
  }

  &--mobile-one-column {
    @include vp-1023 {
      grid-template-columns: 1fr;
      gap: 24px;
    }

    @include vp-767 {
      gap: 12px;
    }
  }

  &--menu-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 46px;

    @include vp-1279 {
      gap: 23px;
    }

    @include vp-1023 {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
}
