.show-cards-section {
  .pagination-container {
    margin-top: 72px;

    @include vp-1023 {
      margin-top: 40px;
    }

    @include vp-767 {
      margin-top: 24px;
    }

    &:not(:last-child) {
      margin-bottom: 72px;

      @include vp-1023 {
        margin-bottom: 40px;
      }

      @include vp-767 {
        margin-bottom: 24px;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
  }
}
