.slider {
  max-width: 100%;
  user-select: none;
  opacity: 0;

  &__wrapper {
    margin: 0;
    padding: 0;
  }

  &__button-wrapper {
    display: flex;
    justify-content: flex-start;

    .btn--slider-before {
      margin-right: 15px;
    }
  }

  &__slide-wrapper {
    list-style-type: none;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;

    @include vp-1023 {
      margin-bottom: 23px;
    }

    @include vp-767 {
      margin-bottom: 16px;
    }
  }

  &__slide-container {
    background-color: $color-lavender;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      display: block;
      padding-bottom: calc(264px / 400px * 100%);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      user-select: none;
    }
  }
}
