//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture

//- Modals

include ./modals/modal-search

//- Blocks

include ./blocks/page-intro
include ./blocks/gift-intro-banner
include ./blocks/menu-block
include ./blocks/breadcrumbs
include ./blocks/show-description
include ./blocks/tickets-order
include ./blocks/show-cards-section
include ./blocks/menu-buttons-block
include ./blocks/contacts-block
include ./blocks/dates-block
include ./blocks/show-information
include ./blocks/reviews-block
include ./blocks/video-block
include ./blocks/contacts-socials
include ./blocks/contacts-map
include ./blocks/artist-cards
include ./blocks/partners-block
include ./blocks/artist-information
include ./blocks/about-block
include ./blocks/address
include ./blocks/artist-description
include ./blocks/photos-content

//- Mixins

include ./mixins/btn
include ./mixins/btn-with-icon
include ./mixins/link
include ./mixins/custom-input
include ./mixins/custom-toggle
include ./mixins/logo
include ./mixins/search-form
include ./mixins/nav
include ./mixins/date
include ./mixins/text-content
include ./mixins/page-content
include ./mixins/page-section
include ./mixins/intro-banner
include ./mixins/show-actor
include ./mixins/show-info
include ./mixins/grid-show
include ./mixins/price
include ./mixins/menu-item
include ./mixins/form
include ./mixins/brand-card
include ./mixins/grid
include ./mixins/banner
include ./mixins/info-card
include ./mixins/menu-title
include ./mixins/video-card
include ./mixins/slider
include ./mixins/brand-text-card
include ./mixins/show-card
include ./mixins/socials
include ./mixins/pagination
include ./mixins/map
include ./mixins/menu
